data/*
!data/raw/
!data/processed/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/saved/*
!models/saved/.gitkeep

outputs/features/*
outputs/reports/*
!outputs/features/.gitkeep
!outputs/reports/.gitkeep

__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
